<style>
.container {
  border-radius: 5px;
  padding: 20px;
  color: white;
  background-image: url(150615_summerlin_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  overflow: hidden;
  background-color:  #4114e3;
  border-radius: 5px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 24px 35px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border-radius: 3px;
}

.navbar a:hover {
  background-color: #21c9eb;
  color: black;
  
}

a.active,a:hover{
background: #21c9eb;
transition: 1s;
}

[type=text], select, textarea {
  width: 49%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
}

footer {
  padding: 10px;
  text-align: center;
  background: #000000;
  margin-top: 1%;
  border-radius: 5px;
}

.socials a:hover{
  background-color: #21c9eb;
  padding: 12px 12px;
  border-radius: 35px;
}

.socials a{
  background-color: ;
  padding: 12px 12px;
}

</style>